footer{
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    div{
        img{
                width: 80px;
                height: 80px;
        }
    }
    }
