header{
    nav{
        background-color: white;
        margin-top: 15px;
        width:100%;
    }
    div{
        img{
            width: 80px;
            height: 80px;
            }
        button{
            justify-content:right;
        }
    }
    div{
        ul{
            li{        
                display: inline-flex;
                font-size: 25px;
                flex-flow: row wrap;
                justify-content:center;
                a{      
                    font-family: $tipografia-primaria;
                    color:#033a35;
                    text-decoration: none;
                    &:hover {
                        color: white;
                        background-color: #033a35;
                        }
                    }
                }
            }
            }
    }
